#social.social
  |<div class="pw-widget pw-size-medium">
  |  <a class="pw-button-twitter"></a>
  |  <a class="pw-button-googleplus"></a>
  |  <a class="pw-button-linkedin"></a>
  |  <a class="pw-button-gmail"></a>
  |  <a class="pw-button-wordpress"></a>
  |  <a class="pw-button-email"></a>
  |  <a class="pw-button-facebook"></a>
  |</div>
  |<script src="http://i.po.st/static/v3/post-widget.js#publisherKey=kcgsqhekab9c9t58t7ru&retina=true" type="text/javascript"></script>
